        .info {
            font-size: 14pt;
        }
        #start {
            font-size:14pt;
        }
        .panel {
            width:600px;
            height:400px;
            position: relative;
            border:2px solid #000;
            margin-top:10px;
        }

        .panel #fish {
            position: absolute;
            left:250px;
            top:150px;
        }
